.reactflix-bg{
  background-image: url("https://phonoteka.org/uploads/posts/2022-01/1642629982_1-phonoteka-org-p-temno-serii-fon-1.jpg") ;
  
}

.navbar{
  background: rgba(0,0,0,.4);
  background-image: linear-gradient(0deg,rgba(0,0,0,.0) 0,transparent 60%,rgba(0,0,0,.0));
  background-color: transparent;
  max-width: 1920px;
  transition: background-color .6s;
  width: 100%;
  z-index: 10;
}

.text-main{
  margin: 0 auto;
  max-width: 950px;
  padding: 50px 0 5px;
  position: relative;
  text-align: center;
  width: 100%;
  color:#fff;
  
  
}



/*  box-1 start */
.box-1{
  border-top: 8px solid #222;
  background:black;
  border-bottom: 8px solid #222;
  color: #fff;
  padding: 5px 45px 40px;
  position: relative; 
}
  
.box-box-1{
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1340px;
}

.text-box-left{
  text-align: start;
  margin: auto;
  flex: 0 1 auto;
  height: 100%;
  padding: 0 3rem 0 0;
  width: 52%;
  z-index: 3;
}


.right-box{
  width: 100%;
    display: block;
  box-sizing: border-box;
  flex: 0 1 auto;
  height: 100%;
  width: 48%;
  justify-content: center;
}



.animation-1{
 overflow: hidden;
 position: relative;
}

.img{
  border: 0;
  height: auto;
  max-width: 100%;
  position: relative;
  z-index: 2;
}
.cart-video{
 height: 100%;
  left: 50%;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  z-index: -3;
}

.our-story-card-video{
  display: inline-block;
  vertical-align: baseline;
  height: 100%;
    width: 100%;
}


.box2{
  background:black;
  border-bottom: 8px solid #222;
  color: #fff;
  padding: 75px 45;

}

.box-box-2{ 
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 45px auto;
  max-width: 1100px;
  color: #fff;  
  flex-flow: row-reverse;
}

.text-box-right{
  background: black;
  text-align: start;
  margin: 0 auto;
  height: 100%;
  width: 51%;
}


.left-box-2{ 
display: flex;
box-sizing: border-box;
flex: 0 1 auto;
height: 100%;
width: 50%;
justify-content: flex-start;
 
}

.animation-2{ 
overflow: hidden;
position: relative;
margin: -8% 0 -4% -15%;
}
  
.image-girl{
height: auto;
max-width: 100%;
z-index: 2;

}

.img-b{
 height: 72px;
 width: 72px;
 
}
.cart-btn{
  align-items: center;
  background: #000;
  border: 3px solid hsla(0,0%,100%,.25);
  border-radius: 0.75em;
  box-shadow: 0 0 2em 0 #000;
  display: flex;
  justify-content: space-between;
  left: 29%;
  margin: auto;
  min-width: 19em;
  padding: 1.0em 0.65em;
  position: relative;
  transform: translateX(-50%);
  /* height: 300px; */
  width: 65px;            
}


.btn-downloading{
    background-size: 100%;
    content: "";
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    height: 3em;
    outline: 2px solid #000;
    outline-offset: -2px;
    width: 3em;
}

.box-3{
  border-top: 8px solid #222;
  background:black;
  border-bottom: 8px solid #222;
  color: #fff;
  padding: 75px 45px;
  position: relative; 
}
  
.box-box-3{
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  max-width: 1340px;
}

.text-box-left-3{
  text-align: start;
  margin: auto;
  flex: 0 1 auto;
  height: 100%;
  padding: 0 3rem 0 0;
  width: 52%;
  z-index: 3;
}


.right-box-3{
  width: 100%;
    display: block;
  box-sizing: border-box;
  flex: 0 1 auto;
  height: 100%;
  width: 48%;
  justify-content: center;
}



.animation-3{
 overflow: hidden;
 position: relative;
 
}

.img{
  border: 0;
  height: auto;
  max-width: 100%;
  position: relative;
  
}

.cart-video-3{
 height: 100%;
  left: 49%;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  top: 23%;
  transform: translate(-50%,-50%);
  width: 83%;
  z-index: -2;
} 




