.auth{
  background-image: url("https://top-fon.com/uploads/posts/2022-09/thumbs/1663601772_20-top-fon-com-p-tyomno-serii-fon-chistii-foto-24.jpg") ;
}

.sign-up{
  background-image: url("https://top-fon.com/uploads/posts/2022-09/thumbs/1663601772_20-top-fon-com-p-tyomno-serii-fon-chistii-foto-24.jpg") ;
}
.signin-box{
  background-color: rgba(0,0,0,.75);
  
}
.signup-box{
  background-color: rgba(0,0,0,.75);
}

.grid-block{
  background-color: #8c8c8c;
}
